html{
    font-size: 10px;
}

div{
    position: relative;
}

.big_box{
    background-color: #52616B;
    background-size: 100%;
    max-width: 1438px;
    height: 1733px;
    border: 1px solid #52616B;
}

.box{
    background-image: url(../img/i4_my.jpg);
    max-width: 1438px;
    width: 100%;
    height: 647px;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}
.header{    
    display: flex;
    margin: 0 auto;
    width: 100%;
    font-family: montserrat;
}

.logo{   
    margin-top: 1.7rem;
    margin-left: 10.1rem;
}
.btn-block1{
    margin-top: 3rem;
    margin-left: 32rem;
    text-align: center;
    height: 2.4rem;
    font-size: 2rem;    
}
 
.btn-block2{  
    margin-top: 3rem; 
    margin-left: 10.7rem;
    text-align: center;   
    height: 2.4rem;
    font-size: 2rem;
}

.btn{    
    margin-right: 6rem;
    display: inline-block;
}   
 
.btn2{
    margin-right: 3rem;
    display: inline-block;
}

.btn a{
    text-decoration: none;
    color: #C9D6DF;
}

.btn2 a{
    text-decoration: none;
    color: #C9D6DF;
}

.line{
    background-image: url(../img/Line.png);
    max-width: 1253px;
    width: 100%;
    height: 1px;
    background-color: #C9D6DF;
    top: 83px;
    left: 92px;
}

.car3{    
    height: 858px;    
    width: 100%;    
    left: 122px;
    top: 129px;
}

.the-8{
    background-image: url(../img/the\ 8_my.jpg);   
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 1195px;
    height: 500px; 
}

.the-8:hover{
    filter: invert(75%);
    cursor: pointer;
}

.the-8-text{
    font-family: montserrat;
    font-size: 3.4rem;
    color: #C9D6DF;
    padding-top: 1.9rem;
    padding-left: 8.8rem;
}


.the-8-text2{
    font-family: montserrat;
    font-size: 4rem;
    color: #C9D6DF;
    padding-top: 0.7rem;
    padding-left: 8.8rem;
    /*filter: blur(none);*/
}

.the-7{
    background-image: url(../img/the\ x7_my.jpg);  
    max-width: 59rem;
    height: 34.1rem;
    background-size: 100%;
    background-repeat: no-repeat;     
    top: 1.7rem;     
}

.the-7:hover{
    filter: sepia(100%);
    cursor: pointer;
}

.the-7-text{
    font-family: montserrat;
    font-size: 3.4rem;
    color: #C9D6DF;
    padding-top: 1.7rem;
    padding-left: 2.6rem;
}

.the-7-text2{
    font-family: montserrat;
    font-size: 4rem;
    color: #C9D6DF;
    padding-top: 0.8rem;
    padding-left: 2.6rem;    
}

.the-5{
    background-image: url(../img/the\ 5_my.jpg);
    height: 346.9px;    
    max-width: 590px;    
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 324px;
    left: 605px;  
    cursor: pointer;  
}

.the-5:hover{
    filter: blur(2px);
}

.the-5-text{
    font-family: montserrat;
    font-size: 3.4rem;
    color: #C9D6DF;
    padding-top: 0.8rem;
    padding-left: 12.6rem;
}

.the-5-text2{
    font-family: montserrat;
    font-size: 4rem;
    color: #C9D6DF;
    padding-top: 0.8rem;
    padding-left: 24.8rem;    
}
