.wrap{
	width: 1440px;
}
.header{
    text-align: center;
    width: 100%;
    font-size: 48px;
    color: #0BBBD3;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.header__span{
    color: black;
}
.bg{
   max-width: 1440px; 
   background-image: url("../img/Harkov.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
   background-clip: border-box;
   padding-top: 15%;
   padding-bottom: 15%;
   padding-left: 5%;
}
.content{
padding-left: 7%;
background-image: url("../img/flag.png");
background-repeat: no-repeat;
height: 388px;
}
.content > div{
    font-size: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-family: 'Inter';
    color: white;
    text-transform: uppercase;
    padding-top: 3.5%;
    
}
h2{
    font-size: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    padding-left: 5%;
    margin-bottom: 0px;
    }
.line{
    border-bottom:5px solid #33B8F1;
    margin-left: 5%;
    width: 27%;
}
.big_box{
    padding-top: 5%; 
}
.box{
    width: 30%;	
	height: 481px;
	display: inline-block;	
	vertical-align: middle;
	background: #FFFEFE;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
	border-radius: 10%;
	margin: 0 20px;
}
.box_img{
    width: 100%;
    height: 50%;
    border-radius: 10% 10% 0 0;
}
.box a{
    font-size: 36px;
    font-family: 'Inter';
    font-weight: normal;
}
.box_content{
    height: 35%;
    font-size: 32px;
    font-family: 'Inter';
    font-weight: normal;
  
}
.heart_head{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 5px;
    margin-top: 60px;
    text-align: center;
}
.heart_img{
    width: 973px;
    margin-left: 15%;


}
.heart_button{
    text-align: center;
}
.line2{
    border-bottom:5px solid #33B8F1;
    margin:0 33%;
    width: 38%;
}
.button{
    text-align: center;
    background-color: #33ADF1;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 48px;
    color: white;
    padding: 15px 35px;
    margin-top: 10px;
}
.bottom_box{
    text-align: center;
    width: 100%;
}

.bottom_box_content{
    margin: 0 auto;
    background-color: #0A2DA9;
    max-width: 1440px;
    margin-top: 176px;
    padding-top: 50px;
    padding-bottom: 26px;
}
 .bottom_box_text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #0BBBD3;
    text-align: center;
    font-size: 64px;
}
 .text_foot{
    color: white;
}
.contacts{
    display: block;
    text-decoration: none;
    color: #353949;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin: 30px 50px;
}
.social_contacts{
    margin-top: 48px;
}
.social_contacts a{
    display: inline-block;
    width: 68px;
    height: 64px;
    margin: 0 27px;
    border-radius: 100px;
    background-color: #0931BF;
}
.twitter{
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-position: 13px;
} 
.telegram{
    background-image: url(../img/Telegram.png);
    background-repeat: no-repeat;
    background-position: 5px;
}
.instagram{
    background-image: url(../img/Instagram.png);
    background-repeat: no-repeat;
    background-position: 11px;
}
.facebook{
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: 10px;
}
  
